@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    .logout-right {
        position: fixed;
        right: 20px;
        top: 18px;
        flex: auto;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <a href="/UserView/Index">
        <img width="160" src="https://egde.no/wp-content/uploads/2020/08/Egde-logo-clr-RGB.svg" />
        <h2 class="navbar-brand" href="/UserView/Index">Tech Space</h2>

    </a>
    <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <a class="nav-link " asp-area="" asp-page="/Equipments/Index">AdminView</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-page="/Bookings/Index">Alle bookinger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-page="/UserView/Index">UserView</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-route-id="@User.Identity.Name" asp-page="/MyPage/Index">Mine bookinger</a>
            </li>


        </ul>

    </div>

    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">

        <button type="submit" class="btn btn-egde-blå my-2 my-sm-0">Logg ut</button>
    </form>


}
else
{
    <a>
        <img width="160" src="https://egde.no/wp-content/uploads/2020/08/Egde-logo-clr-RGB.svg" />
        <h2 class="navbar-brand" href="/UserView/Index">Tech Space</h2>

    </a>

    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}





