@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Egde Utlånssystem!</h1>
    <h4 class="display-4">Log inn med azure...</h4>

</div>




