@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Egde Tech Space!</h1>
    <h4 class="display-4">Log inn med azure...</h4>

    <p class="btn btn-egde-blå">BLÅ!</p>
    <p class="btn btn-egde">GUL!</p>

</div>
